*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 320 px;
  height: 7216px;
  margin: 0 auto;
}

/* Kodun geri kalanı */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
}
img {
  display: block;
    max-width: 100%;
    height: auto;
}
header {
  display: flex;
    border-bottom: 1px solid #e7e9fc;
    justify-content: space-around;
    width: 320px;
    height: 56px;
}
.logo {
  display: flex;
  gap: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px
  


}

.logoweb {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #4d5ae5;
}

.logoStudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #2e2f42;

}
.hamburger-icon {
  display: flex;
top: 16px;
float: right;
margin-right: 16px;
width: 24px;
height: 24px;
margin-top: 24px;
margin-bottom: 24px;

}
.logo-icon {
  /* Top Line */
  display: flex;
    position: absolute;
    width: 320px;
    height: 56px;
    align-items: flex-start;
    gap: 149px;
    
    
}
.logo-icon>span{
  display: inline;
}
.page-nav {
  list-style-type: none;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    letter-spacing: 0.02em;
  
    /* NAVY BLUE */
    color: #2E2F42;
    gap: 40px;
    left: 16px;
      margin-top: 72px;
      margin-bottom: 168px;
}
.page-nav:hover::after {
  content: "";
  color: #444bbf;
  text-decoration: underline;
}
address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 193px;
  height: 72px;
  left: 16px;
  top: 440px;
  margin-bottom: 48px;
}

.address1 {
  color: #434455;




}

.address2 {
  color: #434455;


}
.sosyal-menü-icon .menü-icon {
  display: flex;
list-style-type: none;
gap:40px;
width: 288px;
  height: 40px;
  left: 16px;
  top: 560px;
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.aç-menü {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
    z-index: +1;
    opacity: +1;
    top: 0;
    left: 0;
    list-style: none;
    height: 640px;
    background: #FFFFFF;
    display: none;
}
.page-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  color: white;
  margin-top: 72px;
  margin-bottom: 69px;
  text-align: center;
  width: 216px;
  height: 160px;
  left: calc(50% - 216px/2);
    top: 128px;
      letter-spacing: 0.02em;
}
.button {
 cursor: pointer;
display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    width: 169px;
    height: 56px;
    background: #4D5AE5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: white;
}

.button:hover {
  background-color: #444bbf;
}



.page-title3 {
  font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
  
    /* NAVY BLUE */
    color: #2E2F42;
  margin-bottom: 8px;

}

.bölüm1>.page-title3 {
  font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
  
    /* NAVY BLUE */
    color: #2E2F42;
    text-align: center;
}
.small-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
}

.page-title2-1 {
  display: flex;
  color: #2e2f42;
  font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    width: 162px;
    height: 40px;
    margin-bottom: 72px;  
}

.page-title2-2 {
  font-size: 36px;
  font-weight: bold;
  color: #2e2f42;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 72px;
    letter-spacing: 0.02em;


}


/*ödev3*/
.section {
  width: 320px;
    height: 704px;

}
.section3 {
  width: 320px;
  height: 2848px;
  padding-bottom: 88px;
  padding-top: 108px;
  margin: 88px 16px;

}/*en son yaptığım*/




.page-section1 {
  display: flex;
  flex-direction: column;
  margin: 0px 16px 0px 16px;
  list-style-type: none;
align-items: flex-start;
  gap: 72px;
}



.page-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  list-style-type: none;
  justify-content: center;
  border-radius: mixed;

}

.page-list-portfolio {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  border-radius: mixed;
  gap: 48px;
  align-items: center;

}

.Bölüm2 {
  background-color: #ffffff;
  gap: 8px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0 28px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.Bölüm2>.page-title3 {
  margin-top: 32px;

}

.bölüm3 {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  gap: 8px;
  padding-bottom: 32px;
  height: 400px;
  width: 288px;


}

.bölüm3:hover {
  cursor: pointer;
}

.kare {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4D5AE5;

  transform: translatey(100%);
  transition: transform 250 ms cubic-bezier(0.4, 0, 0.2, 1)
}

.bölüm3:hover.kare {
  transform: translateY(0);
}

.bölüm3:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);


}

.bölüm3>.page-title3 {
  margin-top: 32px;
}



/*ödev3*/

.logoStudio2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: #f4f4fd;

}

.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 432px;
  /*ödev4*/

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/*ödev4*/
.box {
  display: none;
  display: flex;
  position: relative;
  padding-left: 156px;
  padding-right: 156px;
  list-style-type: none;
  justify-content: space-between;
  gap: 24px;
  margin-top: 120px;
  margin-bottom: 8px;

}

.icon1 {
  display: none;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  padding: 24px 100px 24px 100px;
}

.list-icon {
  display: flex;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  transition: background-color;
  align-items: center;
}

.list-icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

}

.icon {
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}

.list-icon2:hover {
  background-color: #404bbf;
}

.section2 {
  background-color: #f4f4fd;
  border-radius: mixed;
  width: 320px;
  height: 2232px;
  padding-bottom: 84px;
  padding-top: 84px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 664px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 320px;
    gap: 120px;
    background-color: #2e2f42;
    justify-content: center;
    align-items: center;
}
.logoson {
  width: 116px;
  height: 24px;
  align-items: center;
  justify-content: center;

}
.div {
  gap: 16px;
  text-align: center;
  margin: 0 16px;

}
.finalp,
.sosyal,
.başlık {
  color:#f4f4fd
}

.divson {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  width: 280px;
  height: 80px;
  align-content: center;


}
.sonicon {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 16px;
  justify-content: center;

}
.mediason {
  height: 40px;
  width: 40px;
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;

}
.form {
  width: 288px;
    height: 136px;
}
.form1 {
  gap:16px;
}
.abone {
  display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 24px;
    margin-top: 16px;
    margin-left: 70px;
    gap: 16px;
    color: #f4f4fd;
    background-color:#4D5AE5;
}
.emailfooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
   gap: 16px;
}
.email {
  margin: 0 16px;
  text-align: center;
}

.box1 {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.box1:hover .overlay {
  transform: translateY(0);
}

.overlay>p {
  color: #f4f4fd;
}


.label>input {
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: #2e2f42;
}



.form1 input[type="email"]:hover {
  color: green;
}

.form1>input {
  color: #ffffff;
  outline: none;
}

.modal {
  display: none;
  position: relative;
  z-index: +1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(46, 47, 66, 0.4);
}
.is-open {
  display: none;
}
.modal form:focus-within {
  opacity: 1;
  visibility: visible;
  transition: transform 250 ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal input:focus-within{
    border: 1px solid #4d5ae5;
}
.modal .input input:focus~.icon{
  fill: #4D5AE5;
}

.üstyazi {
  color: #2e2f42;
  padding-bottom: 32px;
  padding-top: 24px;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 1.16;

}

.modal form {

  position: absolute;
  width: 408px;
  height: 584px;
  color: #8e8f99;
  display: flex;
  flex-direction: column;
  padding: 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  justify-content: center;
  margin-top: 24px;

}

#form-buton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 95px;
  margin-right: 96px;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  border-radius: 4px;
  margin-bottom: 24px;
  color: white;
  padding: 16px 32px;



}

#form-buton:hover {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

#form-buton:active {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal form input {
  width: 360px;
  height: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
  outline: none;
}

.modal textarea {
  width: 360px;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
}

#checkbox-span {
  color: #4d5ae5;
  text-decoration: underline;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 2%;

}

#modal-kapat {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 24px;
  margin-right: 24px;

}

#modal-kapat:hover {
  background-color: #404bbf;
}

#modal-kapat:active {
  background-color: #404bbf;
}


.icon-close-black-18dp-2-1 {
  height: 8px;
  width: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-close-black-18dp-2-1:hover {
  fill: #ffffff;
}

.icon-close-black-18dp-2-1:active {
  fill: #ffffff;
}

.modal .input .icon {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 50%;
  left: 0;
  margin-left: 16px;
  align-items: center;
  color: #2e2f42
}


.input {
  transform: translateY(-50%);
}

#checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 2%;
}

.modal span {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 2%;
}